*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100vw;
    /*background-color: #fcfbff;*/
    position: relative;
    background:  url(../img/login.png);
}
label {
    padding-top: 10px;
}
h1{
    text-align: center;
    line-height: 3.5em;
}
.login_table {
    /*width: 100px;*/
    width: 550px;
    background-color: #000;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}
.control-label {
    text-align: right;
}
.btn_group {
    padding: 3em 0 2em 0;
}